{% extends "beda/_base.html" %}

{% block content %}

<div id="content3">
    <div class="contact-section">
        <div class="contact-info"
            style="flex: 1; min-width: 250px; display: flex; flex-direction: column; gap: 0.5rem;">
            <p><strong>Adresa:</strong> Rudník 72, 54372</p>
            <p><strong>Místo:</strong> Krkonoše</p>
            <p><strong>Telefon:</strong> <a href="tel:+420605841391">+420 605 841 391</a></p>
            <p><strong>Email:</strong> <a href="mailto:bedaspol@gmail.com">bedaspol@gmail.com</a></p>
        </div>
    </div>
</div>

{% endblock %}