{% extends "beda/_base.html" %}
{% load static %}

{% block content %}

<div id="content2">
    <div id="gallery-row">

        <section id="category-bus">
            <h3 class="subtitle is-5">Autobusová pergola</h3>
            <div id="gallery--getting-started1" class="pswp-gallery">
                <figure class="first-image">
                    <a href="{% static 'foto/IMG_zkouskabus.jpg' %}">
                        <img src="{% static 'foto/IMG_zkouskabus.jpg' %}" alt="Hlavní obrázek" class="first-image">
                    </a>
                </figure>

                <div style="display:none">
                    <a href="{% static 'foto/IMG_logobus.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/IMG_sitibus.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/IMG_plachtabus.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/Index_bus.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/IMG-finalbus.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                </div>
            </div>
        </section>

        <section id="category-chaloupka">
            <h3 class="subtitle is-5">Dílničkový stánek na trhy</h3>
            <div id="gallery--getting-started2" class="pswp-gallery">
                <figure class="first-image">
                    <a href="{% static 'foto/chaloupka.jpg' %}">
                        <img src="{% static 'foto/chaloupka.jpg' %}" alt="Hlavní obrázek" class="first-image">
                    </a>
                </figure>

                <div style="display:none;">
                    <a href="{% static 'foto/chaloupka_okna.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/chaloupka_siti.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/chaloupka_vlnky.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/chaloupka_střecha.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/chaloupka_vnitrek.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                </div>
            </div>
        </section>

        <section id="category-vuz">
            <h3 class="subtitle is-5">Formanský vůz</h3>
            <div id="gallery--getting-started3" class="pswp-gallery">
                <figure class="first-image">
                    <a href="{% static 'foto/vuz.jpg' %}">
                        <img src="{% static 'foto/vuz.jpg' %}" alt="Hlavní obrázek" class="first-image">
                    </a>
                </figure>

                <div style="display:none;">
                    <a href="{% static 'foto/vuz_nakres.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/vuz-strih.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/vuz_vypln.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/vuz_vypln_vsito.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/vuz_okna.jpg' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                </div>
            </div>
        </section>

        <section id="category-tramp">
            <h3 class="subtitle is-5">Vozík Tramp 66</h3>
            <div id="gallery--getting-started4" class="pswp-gallery">
                <figure class="first-image">
                    <a href="{% static 'foto/vozík_Tramp66_bok.JPG' %}">
                        <img src="{% static 'foto/vozík_Tramp66_bok.JPG' %}" alt="Hlavní obrázek" class="first-image">
                    </a>
                </figure>

                <div style="display:none">
                    <a href="{% static 'foto/vozík_Tramp66_celo.JPG' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/vozík_Tramp66_in.JPG' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/vozík_Tramp66_prace.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/vozík_Tramp66_nakres.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/vozík_Tramp66_strih.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                </div>
            </div>
        </section>

        <section id="category-lod">
            <h3 class="subtitle is-5">Loď čalounění</h3>
            <div id="gallery--getting-started5" class="pswp-gallery">
                <figure class="first-image">
                    <a href="{% static 'foto/lod_final.jpg' %}">
                        <img src="{% static 'foto/lod_final.jpg' %}" alt="Hlavní obrázek" class="first-image">
                    </a>
                </figure>

                <div style="display:none">
                    <a href="{% static 'foto/lod_I.JPG' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/lodII.JPG' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/lodIII.JPG' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/lodIV.JPG' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                    <a href="{% static 'foto/lodV.JPG' %}" data-pswp-width="1920" data-pswp-height="1080"></a>
                </div>
            </div>
        </section>

        <section id="category-condor">
            <h3 class="subtitle is-5">Pergola k vozíku Condor</h3>
            <div id="gallery--getting-started6" class="pswp-gallery">
                <figure class="first-image">
                    <a href="{% static 'foto/pergola_condor_bok.jpg' %}">
                        <img src="{% static 'foto/pergola_condor_bok.jpg' %}" alt="Hlavní obrázek" class="first-image">
                    </a>
                </figure>

                <div style="display:none">
                    <a href="{% static 'foto/pergola_condor_strecha.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/pergola_condor_sit.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/pergola_condor_vchod.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/pergola_condor_okno.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/pergola_condor_pul.jpg' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                </div>
            </div>
        </section>

        <section id="category-pickup">
            <h3 class="subtitle is-5">Kufrový stan na Pick-up</h3>
            <div id="gallery--getting-started7" class="pswp-gallery">
                <figure class="first-image">
                    <a href="{% static 'foto/autostan_pickup_full.jpg' %}">
                        <img src="{% static 'foto/autostan_pickup_full.jpg' %}" alt="Hlavní obrázek"
                            class="first-image">
                    </a>
                </figure>

                <div style="display:none">
                    <a href="{% static 'foto/autostan_pickup_strih.JPG' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/autostan_pickup_sit.JPG' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/autostan_pickup_vchod.JPG' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/autostan_pickup_closs.JPG' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                    <a href="{% static 'foto/autostan_pickup_open.JPG' %}" data-pswp-width="1920"
                        data-pswp-height="1080"></a>
                </div>
            </div>
        </section>

        <section id="category-tipi">
            <h3 class="subtitle is-5">TIPI</h3>
            <figure class="first-image">
                <a href="https://divilidi.cz/" target="_blank" aria-label="tipi">
                    <img src="{% static 'foto/tipi.jpg' %}" alt="Hlavní obrázek" class="first-image">
                </a>
            </figure>
        </section>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="module">
    import PhotoSwipeLightbox from 'https://unpkg.com/photoswipe@5.4.4/dist/photoswipe-lightbox.esm.js';

    const galleryLinks = document.querySelectorAll(
        '#gallery--getting-started1 a, #gallery--getting-started2 a, #gallery--getting-started3 a, #gallery--getting-started4 a, #gallery--getting-started5 a, #gallery--getting-started6 a, #gallery--getting-started7 a'
    );

    galleryLinks.forEach(link => {
        const img = new Image();
        img.src = link.href;
        img.onload = () => {
            link.setAttribute('data-pswp-width', img.width);
            link.setAttribute('data-pswp-height', img.height);
        }
    });

    const makeLightbox = (galleryId) => new PhotoSwipeLightbox({
        gallery: galleryId,
        children: 'a',
        pswpModule: () => import('https://unpkg.com/photoswipe@5.4.4/dist/photoswipe.esm.js')
    });

    makeLightbox('#gallery--getting-started1').init();
    makeLightbox('#gallery--getting-started2').init();
    makeLightbox('#gallery--getting-started3').init();
    makeLightbox('#gallery--getting-started4').init();
    makeLightbox('#gallery--getting-started5').init();
    makeLightbox('#gallery--getting-started6').init();
    makeLightbox('#gallery--getting-started7').init();
</script>
{% endblock %}